.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    background: var(--primary);
    color: var(--text-over-primary);
    padding: 1.2rem;
    border: red round;
    border-radius: 0.8rem;
}

.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}
